/* Layout/MainLayout.razor.css */
.container[b-0xcmv6knwm] {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: env(safe-area-inset-top, 20px);
}

.upper-band[b-0xcmv6knwm] {
    background-color: #131215;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.task-card-grid[b-0xcmv6knwm] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MENU BAR  */
.menu-bar-position[b-0xcmv6knwm] {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.menu-bar[b-0xcmv6knwm] {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.menu-list[b-0xcmv6knwm] {
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0b0a0d;
    border: 2px solid #545559;
    border-radius: 100px;
    list-style-type: none;

    li {
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }
}

    .menu-list li:hover[b-0xcmv6knwm] {
        cursor: pointer;
        transform: scale(1.05);
    }
