button, a, input, select, textarea, div {
    -webkit-tap-highlight-color: transparent;
}

input:focus {
    outline: 2px solid #0066cc;
    outline-offset: 2px;
}

/* TASK CARD*/
.task-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    justify-items: center;
    align-content: center;
    overflow-y: auto;
    padding: 5px;
    padding-bottom: 100px;
}

.task-card{
    width: 90vw;
    height: fit-content;
    color: #d3d3d3;
    background-color: #08080a;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin: 5px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: pan-y;
}

.task-card-preview {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the color band and the arrow button */
}

.priority-color-band {
    display: inline-block;
    position: right;
    vertical-align: auto;
    border: none;
    height: 10px;
    width: 50px;
    border-radius: 5px;
    flex-shrink: 0;
    opacity: 1 !important;
}

.task-card p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal;
}

.task-title{
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.complete-btn {
    background-color: #131215;
    border: 1px soild #333336;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.task-completed {
    opacity: 0.5;
}

.task-completed .task-title {
    text-decoration: line-through;
    color: #888;
}

.shavron-up-down{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.divider {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ADD TASK BUTTON */
.add-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 40px;
    background-color: #1d4f30;
    border: 1px solid #193f29;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer; 
}

/* MODAL OVERLAY*/

.modal-overlay {
    display: flex;
    position: fixed; /* Löst das Element vom Rest der Seite */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Schwarz mit 60% Deckkraft */
    z-index: 2000; /* Muss höher sein als dein Menü (z-index: 1000) */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #121217;
    color: #d3d3d3;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/*ADD TASK OVERLAY CONTENT*/

.modal-upper-part{
    width: 100%;
    display: flex;
    align-items: center;
}

.select-menu {
    border-radius: 10px;
    font-size: 15px;
    background-color: #0f0f0f;
    border: 1px solid #1e1e1e;
    height: 42px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.save-btn {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background-color: #1d4f30;
    border: 1px solid #193f29;
    border-radius: 10px;
    color: #d3d3d3;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.close-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.text-input-field {
    border-radius: 10px;
    font-size: 20px;
    background-color: #0f0f0f;
    border: 1px solid #1e1e1e;
    height: 42px;
    color: white;
    padding: 10px;
}

.input-group{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.input-group label{
    font-size: 14px;
    color: #d3d3d3;
}

.select-row{
    display: flex;
    gap: 10px;
    width: 100%;
}

.select-row .input-group{
    flex: 1;
}

/*REMINDER OVERALY CONTENT*/

.add-remider-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #08080A;
    border: 1px solid #2c2c2f;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

.set-reminder-menu {
    background-color: #08080A;
    border: 1px solid #2c2c2f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reminder-menu-day-picker {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

    .reminder-menu-day-picker p {
        border: 1px solid #2c2c2f;
        padding: 7px;
        margin: 2px;
        border-radius: 10px;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    .selected-day {
        border: 1px solid #2c2c2f;
        padding: 7px;
        margin: 2px;
        border-radius: 10px;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        background-color: #193f29;
        user-select: none;
    }

.reminder-menu-time-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08080A;
    border: 1px solid #2c2c2f;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    width: 87%;
    user-select: none;
}

.reminder-menu-delete {
    justify-content: center;
    align-items: center;
    background-color: #08080A;
    border: 1px solid #2c2c2f;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    width: 13%;
    user-select: none;
}

.scroll-wheel {
    height: 150px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    user-select: none;
}

.scroll-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    user-select: none;
}

.notification-permission-query{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ask-permission-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08080A;
    border: 1px solid #2c2c2f;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    color: white;
}

/* Uhrzeit wähler */

.wheel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 160px;
    position: relative;
    overflow: hidden;
}

/* Aktuell ausgewählte zeit zentrieren */
.time-input {
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #2c2c2f;
    background-color: #08080A;
    color: white;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    transform: scale(1.5);
    cursor: pointer;
}

/**/